/* Reset de estilo - Estamos removendo todos os estilos padrões do navegador */

/* seletor global - Ou seja, todos os elementos da nossa estrutura receberam essas configurações */
*{
    /* margin-top */
    margin: 0;
    padding: 0;
    /* tamanho da caixa */
    /* tamanho total do elemento = contéudo + padding + border */
    box-sizing: border-box;

    /* text-decoration tirar a configuração os elementos link (aquela linha que fica) */
    /*  none - nenhum */
    text-decoration: none;

    /* remove os marcadores(prontinhos) das listas */
    list-style: none; 
}

body {
    font-family: "Arimo", sans-serif;
    background-color: rgb(66, 0, 66);
    color: #fafafa;
}

/* Impede que a imagem ultrapasse a largura do seu contêiner */
img {
  max-width: 100%;
  object-fit: cover;
}

/* Usar (,) quando quiser aplicar  mesmo estilo em outro elemento sem precisar escreve-lo novamente */
a, 
li,
button {
    /* transition: backgroud-color 400ms ease 1s; */

    /*transition: backgroud-color 400ms ease, color 500ms ease-in; */

    transition: all 300ms ease;
}

header {
    background-color: #5d0b6d;

    /* padrão para todos os elementos do HTML */
    /* position: static; */
    /* position: relative; */
    /* top: 20px; */
    /* left: 10px;*/
    
    /* z-index: -1; (header fica por baixo da sessão -1)*/

    /* position: relative; */
    /* header h1{
            position: absolute;
            right: 0;
            bottom: 0; } */
    /* position: fixed; */
    /* bottom: 10px; */

    /* position: sticky; top: 0; (fica colodo no header) */
    position: sticky;

    top: 0;

    /* comportamento padrão do display: flex; = row (linha) */
    display: flex;

    /* comportamento padrão */
    flex-direction: row;

    /* justify-content: flex-start; */  /*flex-center*/

    /* espaço entre os elementos */
    justify-content: center;

    /* comportamento padrão de alinhamento de item*/
    /* lida com o alinhamento do conteudo no eixo vertical */
    /* align-items: stretch; */
    align-items: center;

    height: 60px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.ajuste-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
    color: bisque;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px; /*cria um espaçamento entre os itens da lista*/
}

li {
    padding: 5px 10px;
    border: 2px solid transparent;
}

li:hover {
    background-color: #6a5acd;
    border-radius: 5px 15px;
}

li:hover a {
    color: #ff0077
}

.index {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.main section {
  flex: 1 320px;
  background-color: #333131;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff22;
  animation-name: titulo;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

section h2 {
  margin-bottom: 16px;

  /* root em - tamanho da fonte do elemento raiz(html) */
  /* 1rem = 16px */
  font-size: 2rem;
  animation-name: titulo;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

section p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 150%;

  /* line-height = 18px * 1.5 */
  /* 27px */
}

section a {
  /* background-color = muda a cor de fundo do elemento */
  background-color: #da3ebd;

  /* muda a cor do texto */
  color: #fafafa;

  /* font-size = tamanho da fonte */
  font-size: 18px;

  /* Espessura da fonte */
  font-weight: 600;

  /* alinhamento de texto ao centro */
  text-align: center;

  /* widht(largura) = aplicamos 100% para garantir que o elemento ocupe toda a largura disponivel*/
  width: 100%;

  /* converter a apresentação padrão do elemento(que é inline) para inline-block 
  ele ainda vai se comportar como um elemento inline, porém vai ser capaz de receber propriedades de elementos de bloco, como largura(widht), altura(height), preenchimento(padding)
  */
  display: inline-block;

  /* cria um espaçamento(margin) na parte superior(top) */
  margin-top: 10px;

  /* aplica um preenchimento na parte superior e inferior e mantem as laterais sem preenchimento*/
  padding: 10px 0;

  /* configuração para arredondamento de bordas */
  border-radius: 6px;
}

/* aplicando pseudo-classe do tipo hover, isso faz com que o elemento sofra uma alteração quando o cursor do mouse passar por cima do elemento a */
section a:hover {
  background-color: #942a81;
}

footer {
  background-color: #5d0b6d;
  text-align: center;
  padding: 20px 0;
  margin-top: 10px;
}

footer p {
  font-size: 18px;
  margin-bottom: 20px;
}

footer img {
  width: 30px;
}

footer a {
    display: inline-block;
}

/* seletor de irnação adjacente, no caso, ele seleciona o elemento que vem depois do primeiro elemento que vem depois do primeiro elemento mencionado. Nesse caso, estou aplica a margem ao ao elemento que vem depois do P */
/* footer p + a {
  margin-right: 15px;
} */

footer a:first-of-type {
    margin-right: 15px;
}

/* Fim da estilização da index.html */

/* Inicio da estilização do sobre.html */

.sobre section img {
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

article {
  margin-top: 15px;
}

article h3 {
  margin-bottom: 5px;
}

/* Fim da estilização da sobre.html */

/* Inicio da estilização da contato.html */
.contato {
  /* d(dinamyc - Dinâmica(o)) v(viewport - visualização) h(height - altura) */
  height: 100dvh;
}

form,
form div {
  display: flex;
  flex-direction: column;
}

form {
  background-color: #793d6a;
  border-radius: 6px;
  padding: 12px;

  gap: 1rem;
}

form div {
  gap: 0.125rem;
}

form label {
  font-size: 1.125rem;
}

form input {
  height: 2rem;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #0000003d;
}

form button {
  height: 2rem;
  border-radius: 4px;
  border: nome;
  background: linear-gradient(160deg, rgba(63, 94, 251, 1)0%,
  rgba(252, 70, 107, 1)100%);
  color: #fafafa;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

form button:hover {
  background: linear-gradient(160deg,
  rgb(53,79,211) 0%,
  rgb(196,52,81) 100%);
}

/* @medi (condição){
  seletor{
    propriedade: valor;
  }
} */

/* aplica as config de media, desde que tenha uma tela E a Largura minina seja de 500px */

@media (min-widht: 957px) {
  body {
    background-color: #942a81;
  }

  .sobre {
    height: 80dvh;
  }

  .sobre-conteudo {
    display: flex;
    gap: 1rem;
  }
}

@keyframes titulo {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
    
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* .banana {
  height: 100px;
  width: 100px;
  background-color: #c739ad;
  border-radius: 0.5rem;
  /* animation-name: animacao-entrada; */
  /* animation-duration: 4s; */
  /* animation-iteration-count: infinite; */
  /* animation-delay: 2s; */
  /* animation-direction: reverse; */
  /* animation-direction: alternate; */
  /* animation-direction: alternate-reverse; */
  /* animation-timing-function: steps(100);*/
  /* animation-fill-mode: backwards; */

  /*animation: animacao-entrada 6s ease-in infinite forwards;
  position: relative;
 }
*/

/* @keyframes animacao-entrada {
  0% {
    backgroud-color: #c739ad;
    left: 0;
    top: 0;
  }

  15% {
  background-color: #2cb7ee;
  left: 200px;
  top: 0;
  }

  40% {
  background-color: coral;
  left: 200px;
  top: 150px;
  }

  65% {
  background-color: #ea6158;
  left: 90px;
  top: 200px;
  }

  100% {
  background-color: yellow;
  left: 20px;
  rop: 40px;
  }
} */
 